/* body{
  background-color: #3D84B8;
  margin: 0vw;
  display: block;
}
.nab{
  height: 10vw;
  background-color: #344FA1;
  margin: 0vw;
  border: 0vw;
  display: flex;
  width: 100%;
}
.nab a{
  font: italic small-caps bold 5vw Georgia, sans-serif;
  color:#F0EBCC;
}
.nabcon{
  display: contents;
  float: right;
} */
body { 
  margin: 0;
  background-color: #7738d6;
}
#navbar {
  overflow: hidden;
  background-color: #7738d6;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {

  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 10px;
}


#navbar #logo {
  font-size: 3.5vw;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:not(.active):hover {
  background-color: #4c228b;
  color: white;
}

#navbar a.active {

  border-radius: 0px;
}


#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
.til{
  color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: center;
}


.com1 {
  padding-top: 100px;
  display: block;
  justify-content: center;
  background-color: white;
  color: black;
}
.iteee{
  width: 100%; 
  margin-bottom: 100px;
}
/* 
#F0EBCC
#3D84B8
#344FA1
#3F3697 
*/
