body{
    background-color:antiquewhite;
    display: block;
    justify-content: center;
    
}
.wrapper{   
    margin-left: 37vw;
    width: 25%;
    display: block;
    justify-content: center;
    height: 600px;
    background-color: #005d00;
    text-align: center;
    border-radius: 10px;
    color: #b0ff57;
    border: 10px solid black;
    border-top: 0px;
    border-left: 0px;
}
h1{
    padding-top: 150px;
    text-shadow: 10px;
}
.Uer{
    text-align: center;
    margin: 10px 0px 10px 0px;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    padding: 0px;
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 4px solid rgb(0, 0, 0);
    border-right: 4px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.Pas{
    text-align: center;
    margin: 10px 0px 10px 0px;
    height: 40px;
    border-radius: 10px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 4px solid rgb(0, 0, 0);
    border-right: 4px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 20px;
}
button{
    text-align: center;
    margin: 20px 0px 20px 0;
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
    width: 150px;
    background-color: rgb(255, 0, 0);
    color: azure;
    border: 0px;
    font-family: sans-serif;
    cursor: pointer;
}
button:hover{
    background-color: rgba(180, 3, 3, 0.441);
    color: azure;

}